body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.formParent{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .formParent-container{
    margin-top: 80px;
    background-color: rgb(248, 252, 211);
    padding: 20px;
    width: 50%;
    border-radius: 35px;
  
  }
  .navButton {
    border: 2px solid transparent;
    /* background-color: transparent; */
    margin: 10px;
    font-size: large;
    color: black;
    text-decoration: dashed;
    padding: 5px;
    background-color: yellow;
    border-radius: 5px;
  }
  .tableButton{
    color: white;
    background-color: rgb(70, 1, 182);
    border: none;
    border-radius: 10px;
  }
  .LoginPage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .react-datepicker__input-container input{
    width: 100%;
  }
  .formChild{
    width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  #errorDiv {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #FF0000; /* Red text color for error messages */
    background-color: #FFDDDD; /* Light red background for the error message */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the background */
    font-family: 'Your Unique Font', sans-serif; /* Use your unique font or a Google Font */
  }
  
  #errorDiv Button {
    background-color: #FFA500; /* Orange background color for the button */
    color: #fff; /* White text color for the button */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 280px;
    margin-top: 20px;
  }
  
  #errorDiv Button:hover {
    background-color: #FF8C00; /* Slightly darker orange on hover */
  }
  
  #loginPassField{
    display: flex;
  }
  